h1{
    background-color: green;
}
/*{
    border:solid;
}*/
p{
    background-color: blueviolet;
}
A{
    background-color: chartreuse;
}
div {
    border: solid;
}
div {
    border: solid;
}
